.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div {
  font-family: Lato;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/GothamRus/GothaProLig.otf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: local('Lato'), url(./fonts/GothamRus/GothaProBol.otf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: local('Lato'), url(./fonts/GothamRus/GothaProReg.otf) format('opentype');
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

