.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div {
  font-family: Lato;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Bold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Medium.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Book.ttf) format('truetype');
  font-style: normal;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


